@charset "UTF-8";
*{
    color: #fff;
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* caixa principal */
.container {
    width: 100%;
    /*largura*/
    height: 100vh;
    /*altura*/
    background-image: linear-gradient(#66E627, #1DA126); 
    display: flex;
    justify-content: center;
    align-items: center;

}
/*caixa ao centro*/
.card{
    width: 540px;
    background-color: rgba(9,243,24,.5);
    border-radius: 16px;
    /*alinhamento do itens*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*sombra do box*/
    box-shadow: rgba(98, 98, 100, 0.2) 0px  7px 29px 0px;
}
.profile-img{
    width: 120px;
    border-radius: 50%;
    border: #2ca11d6b 5px solid;
    

    /*sombre do box*/
    box-shadow: rgba(red, green, blue, alpha) (0,0,0,0.35) 0px 5px 15px;
    /*direciona o img no eixo y*/
    transform: translateY(-65px);

}
.container-text{
    margin-top: -40px;
}

h1.nome{
    margin: 0;
    text-shadow: rgba(0,0,0,0.6) 0px 5px 10px;
}

h3.desc{
    font-weight: 400;
    text-shadow: rgba(0,0,0,0.6) 0px 5px 10px;
}

.icone-endereco{
    width: 22px;
    filter: brightness(10);
}
.socials{
    margin: 30px 0;
}

.socials a{
    margin-right: 40px;
}

.socials a:last-child{
    margin-right: 0px;
}

.sociais img{
    width: 50px;
    transition: all .3s;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border-radius: 50%;
}
.sociais img:hover{
    transform: scale(110%);
}
.sociais img:active{
    transform: scale(100%);
}